<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <authentication mode="Forms" />
  </system.web>

  <connectionStrings>
    <add name="KahveConn"
         connectionString="Server=semih;Database=OrderingCoffee;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>

