@{
    ViewData["Title"] = "Kayıt Ol";
}
<h2>Kayıt Ol</h2>

@if(ViewBag.Error != null) { <div style="color:red">@ViewBag.Error</div> }

<form method="post" asp-action="KayitOl">
    <input name="kullaniciAdi" placeholder="Kullanıcı adı" class="form-control"/><br/>
    <input name="email" placeholder="E-posta" class="form-control"/><br/>
    <input name="sifre" placeholder="Şifre" type="password" class="form-control"/><br/>
    <button type="submit">Kayıt Ol</button>
</form>
